asgiref==3.3.4
certifi==2021.5.30
chardet==3.0.4
dj-database-url==0.5.0
Django==3.2.2
django-cors-headers==3.7.0
django-heroku==0.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
gunicorn==20.1.0
idna==2.5
PyJWT==2.1.0
PyMySQL==1.0.2
pytz==2021.1
requests==2.25.1
requests2==2.16.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.21.1
whitenoise==5.2.0
